# Python
/**/*.py[co]
/**/__pycache__

# Poetry
/poetry.lock
/dist/

# PyCharm/IntelliJ artifacts
/.idea/

# Eclipse artifacts
/.project

# Temporary files
*.bak
*.tmp
tmp*

# Folder for hosts and files
m/*
